<div class="container">
  <div class="edit-text">
    <h1>Edit ✍</h1>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Edit name</mat-label>
        <input matInput />
         </mat-form-field
      ><mat-form-field appearance="fill">
        <mat-label>Edit description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
     
    </div>
    <button mat-fab extended color="primary">
      <mat-icon>done_outline</mat-icon>
      Submit
    </button>
  </div>
</div>
