<mat-card class="card">

    <div class="textCard">
      <mat-card-content> {{myTask.text}}</mat-card-content>

    </div>

    <div class="arrows">
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>

      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon class="close">close</mat-icon>
      </button>
    </div>
  </mat-card>