<mat-card class="card">
  <div>
    <button (click)="description()" class="outlineDelete">
      <div class="textCard">
        <mat-card-content>  {{myTask.name}}</mat-card-content>
      </div>
    </button>
  
    <div [hidden]="isDisplay" class="task-description">
      {{myTask.text}}
    </div>
  </div>
  

    <div class="arrows">
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>chevron_left</mat-icon>
      </button>

      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <mat-icon>chevron_right</mat-icon>
      </button>
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
        (click)="deleteOneTask(myTask.id)"
      >
        <mat-icon class="close">close</mat-icon>
      </button>
    </div>
  </mat-card>