<mat-toolbar>
  <!-- <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button> -->
  <img class="TrolloHome" src="assets/TrolloProjectLogo.png" />

  <span class="example-spacer"></span>
  <!-- <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button> -->
  <!-- <mat-slide-toggle>Dark mode</mat-slide-toggle>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button> -->
  <span>
    {{username}}
    <button mat-flat-button color="primary" (click)="logout()">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </span> 
</mat-toolbar>

<div class="row">
  <div class="list">
    <mat-card class="example-card">
      <mat-card-header class="headerList">
        <mat-card-subtitle>To do</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!--Tu je card-->
        <mat-card class="card">

          <div class="textCard">
            <mat-card-content>Upratac chyžu </mat-card-content>

          </div>

          <div class="arrows">
            <button
              mat-icon-button
              class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon"
            >
              <mat-icon>chevron_left</mat-icon>
            </button>

            <button
              mat-icon-button
              class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon"
            >
              <mat-icon>chevron_right</mat-icon>
            </button>
            <button
              mat-icon-button
              class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon"
            >
              <mat-icon class="close">close</mat-icon>
            </button>
          </div>
        </mat-card>


        <!-- card č 2-->
        <mat-card class="card">

            <div class="textCard">
              <mat-card-content>Škola </mat-card-content>
  
            </div>
  
            <div class="arrows">
              <button
                mat-icon-button
                class="example-icon favorite-icon"
                aria-label="Example icon-button with heart icon"
              >
                <mat-icon>chevron_left</mat-icon>
              </button>
  
              <button
                mat-icon-button
                class="example-icon favorite-icon"
                aria-label="Example icon-button with heart icon"
              >
                <mat-icon>chevron_right</mat-icon>
              </button>
              <button
                mat-icon-button
                class="example-icon favorite-icon"
                aria-label="Example icon-button with heart icon"
              >
                <mat-icon class="close">close</mat-icon>
              </button>
            </div>
          </mat-card>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>library_add</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-footer> </mat-card-footer>
    </mat-card>
    

    
  </div>


  <div class="list">
    <mat-card class="example-card">
      <mat-card-header class="headerList">
        <mat-card-subtitle>In progress</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!--Tu je card-->
        <mat-card class="card">

          <div class="textCard">
            <mat-card-content>Upratac chyžu </mat-card-content>

          </div>

          <div class="arrows">
            <button
              mat-icon-button
              class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon"
            >
              <mat-icon>chevron_left</mat-icon>
            </button>

            <button
              mat-icon-button
              class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon"
            >
              <mat-icon>chevron_right</mat-icon>
            </button>
            <button
              mat-icon-button
              class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon"
            >
              <mat-icon class="close">close</mat-icon>
            </button>
          </div>
        </mat-card>


        <!-- card č 2-->
        <mat-card class="card">

            <div class="textCard">
              <mat-card-content>Škola </mat-card-content>
  
            </div>
  
            <div class="arrows">
              <button
                mat-icon-button
                class="example-icon favorite-icon"
                aria-label="Example icon-button with heart icon"
              >
                <mat-icon>chevron_left</mat-icon>
              </button>
  
              <button
                mat-icon-button
                class="example-icon favorite-icon"
                aria-label="Example icon-button with heart icon"
              >
                <mat-icon>chevron_right</mat-icon>
              </button>
              <button
                mat-icon-button
                class="example-icon favorite-icon"
                aria-label="Example icon-button with heart icon"
              >
                <mat-icon class="close">close</mat-icon>
              </button>
            </div>
          </mat-card>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>library_add</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-footer> </mat-card-footer>
    </mat-card>
    

    
  </div>


  <div class="list">
    <mat-card class="example-card">
      <mat-card-header class="headerList">
        <mat-card-subtitle>Done</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <!--Tu je card-->
        <mat-card class="card">

          <div class="textCard">
            <mat-card-content>Upratac chyžu </mat-card-content>

          </div>

          <div class="arrows">
            <button
              mat-icon-button
              class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon"
            >
              <mat-icon>chevron_left</mat-icon>
            </button>

            <button
              mat-icon-button
              class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon"
            >
              <mat-icon>chevron_right</mat-icon>
            </button>
            <button
              mat-icon-button
              class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon"
            >
              <mat-icon class="close">close</mat-icon>
            </button>
          </div>
        </mat-card>


        <!-- card č 2-->
        <mat-card class="card">

            <div class="textCard">
              <mat-card-content>Škola </mat-card-content>
  
            </div>
  
            <div class="arrows">
              <button
                mat-icon-button
                class="example-icon favorite-icon"
                aria-label="Example icon-button with heart icon"
              >
                <mat-icon>chevron_left</mat-icon>
              </button>
  
              <button
                mat-icon-button
                class="example-icon favorite-icon"
                aria-label="Example icon-button with heart icon"
              >
                <mat-icon>chevron_right</mat-icon>
              </button>
              <button
                mat-icon-button
                class="example-icon favorite-icon"
                aria-label="Example icon-button with heart icon"
              >
                <mat-icon class="close">close</mat-icon>
              </button>
            </div>
          </mat-card>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>library_add</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-footer> </mat-card-footer>
    </mat-card>
    

    
  </div>



</div>
