<mat-toolbar>
  <!-- <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button> -->
  <img class="TrolloHome" src="assets/TrolloProjectLogo.png" />

  <span class="example-spacer"></span>
  <!-- <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button> -->
  <!-- <mat-slide-toggle>Dark mode</mat-slide-toggle>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button> -->
  <span>
    {{ username }}
    <button mat-flat-button color="primary" (click)="logout()">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </span>
</mat-toolbar>

<!------------------------------------
TASKY
------------------------------------->

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="drag-container">
        <div class="section-heading">To do</div>

        <div
          cdkDropList
          #pendingList="cdkDropList"
          [cdkDropListData]="todo"
          [cdkDropListConnectedTo]="[doneList, reviewList]"
          class="item-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="item-box" *ngFor="let item of todo" cdkDrag>
            <button (click)="description()"  class="outlineDelete">
              <mat-card-content> {{ item }}</mat-card-content>
            </button>
            
            <button
              mat-icon-button
              class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon"
              (click)="deleteOneTask(myTask.id)"
            >
              <mat-icon class="close">close</mat-icon>
            </button>
            
          </div>
          <button
            mat-icon-button
            class="example-icon favorite-icon"
            aria-label="Example icon-button with heart icon"
            (click)="openDialog()"
          >
            <mat-icon>library_add</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="drag-container">
        <div class="section-heading">In Progress</div>

        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[pendingList, reviewList]"
          class="item-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="item-box" *ngFor="let item of done" cdkDrag>
            {{ item }}
            <button
              mat-icon-button
              class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon"
              (click)="deleteOneTask(myTask.id)"
            >
              <mat-icon class="close">close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="drag-container">
        <div class="section-heading">Done</div>

        <div
          cdkDropList
          #reviewList="cdkDropList"
          [cdkDropListData]="review"
          [cdkDropListConnectedTo]="[doneList, pendingList]"
          class="item-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="item-box" *ngFor="let item of review" cdkDrag>
            {{ item }}
            <button
              mat-icon-button
              class="example-icon favorite-icon"
              aria-label="Example icon-button with heart icon"
              (click)="deleteOneTask(myTask.id)"
            >
              <mat-icon class="close">close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
